<header class="section-header">
  <input type="checkbox" class="header-checkbox" checked="true" />
  <span>Teamrolle</span>
</header>
<div class="intro">
  Wähle bitte aus, ob die Rolle im Team unter normalen Bedingungen, unter
  schwierigen Bedingungen oder beide in die Auswertung aufgenommen werden
  sollen.
</div>
<div class="content">
  <mat-radio-group>
    <mat-radio-button value="normal" checked="true" color="primary"
      >Normal</mat-radio-button
    >
    <mat-radio-button value="difficult" color="primary"
      >Schwierig</mat-radio-button
    >
    <mat-radio-button value="both" color="primary">Beide</mat-radio-button>
  </mat-radio-group>
</div>
