:host {
  display: block;
  max-height: 100vh;
}

.dialog {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: clamp(360px, 90vw, 1200px);  
}

header {
  font-size: 1.25rem;
  font-weight:500;
  padding: 1rem;
  background-color: var(--active-background);
  color: var(--active-foreground);
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
}

@media (min-width: 40rem) {
  footer {
    grid-template-columns: 1fr auto;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.intro , .content {
  padding: 1rem;
}

.intro {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 40rem) {
  .intro {
    grid-template-columns: 1fr auto;
  }
}

.content {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}
